@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

@keyframes fade-in {
    0% {
        visibility: collapse;
        background-color: rgba(0, 0, 0, 0.001);
    }
    100% {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
.fadeInCart {
    animation: fade-in 400ms ease-in 0ms 1 forwards;
}
.fadeOutCart {
    animation: fade-in 2000ms ease-in 400ms 2 alternate backwards;
}
.faderBlck {
    animation: fadeBlack 600ms ease-in-out 0ms 1 forwards;
}
@keyframes fadeBlack {
    0% {
        right: 0;
    }
    100% {
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
@keyframes fadeOut {
    // 0%{
    //     right: 0%;
    // }
    98% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
        // right: -120%;
        right: min(-120%, -600px);



    }
}
.faderout {
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeOut 500ms ease-in 200ms 1 forwards;
}
.cartModalHidden {
    right: min(-120%, -600px);
}
.sidecartHidden {
    right: min(-120%, -600px);
}

#sideCartCont {
    // background-color: red;
    // padding-inline: 50px;
    // translate: 100% 0;
    position: fixed;
    height: 100vh;
    min-width: 100vw;
    // max-width: 350px;
    top: 0%;
    z-index: 2;
    // transition: 7000ms
    // border: solid blue;
}

.cartSection {
    position: fixed;
    height: 100vh;
    min-width: 260px;
    max-width: 350px;
    border: gray 3px solid;
    border-right: none;
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 0px 6px 10px black;
    // top: 0%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-right: 5px;
    overflow-y: scroll;
    z-index: 2;
    // transition: 2000ms;

    .isEmptyCart {
        margin: auto;
        position: absolute;
        top: 26%;
        min-width: 200px;
    }

    .sideCartHeader {
        position: relative;
        min-height: 66px;
        display: flex;
        align-items: center;
        padding-inline: 20px;
        .closeSideCart {
            position: absolute;
            // top: 0;
            right: 6px;
            // font-size: 20px;
            // align-self: flex-start;
            justify-self: left;
            background-color: aliceblue;
            border-radius: 50%;
            transition: 400ms;
            // flex-grow: 1;
        }
    }
    .itemsInCartDiv {
        background-color: rgb(79, 183, 224);
        color: black;
        padding-block: 6px;
        padding-left: 20px;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // min-height: 66px;
        // row-gap: 5px;
        // column-gap: 20px;

        label {
            font-size: 20px;
        }
        input {
            text-align: center;
            width: 60px;
            background-color: transparent;
            color: white;
            font-size: 24px;
            font-weight: 800;
            border: none;
            outline: none;
        }
    }
    .ItemsDiv {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        .itemDiv {
            font-size: 12px;
            border: none;

            .product-img {
                height: 40px;
                // width: 50px;
            }
            .itemsDetails {
                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;
                row-gap: 10px;
                padding-bottom: 20px;


                .imgAndName {
                    gap: 6px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .detailDiv {
                    // line-height: 6px;
                    // gap: 0;

                    &:not(:nth-child(-n + 1)) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // flex-grow: 1;

                        label {
                            width: 50%;
                        }
                        input {
                            max-width: 80px;
                            padding: 0;
                            border: none;
                            outline: none;
                            width: 50%;
                        }
                    }

                    label {
                        font-size: 12px;
                        // flex-basis: 40%;
                        text-align: center;
                    }
                    input {
                        background-color: transparent;
                        text-align: center;
                        font-size: 14px;
                        border: none;
                        outline: none;
                    }
                }
            }
            .controls-div {
                // padding-block: 12px;
                background-color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0px;
                width: 100%;
                .addOrMinusDiv {
                    align-self: flex-start;
                    display: flex;
                    gap: 20px 20px;
                    padding-left: 6px;
                    button {
                        width: 80px;
                        border: solid 1px gray;
                        border-radius: 0;
                        padding-inline: 4px;
                        padding-block: 4px;
                        background-color: rgba(30, 30, 30, 1);
                        transition: 200ms;
                    }
                    .addplusonebtn {
                        &:hover{
                            background-color: rgba(50, 50, 50, 1);
                            border-color: green;
                        }
                    }
                    .minus-item {
                        &:hover{
                            background-color: rgba(50, 50, 50, 1);
                            border-color: orangered;
                        }
                    }
                }
                .remove-item-div {
                    align-self: flex-end;
                    padding-right: 2px;
                    button {
                        background-color: red;
                        color: white;
                        padding-inline: 8px;
                    }
                }
            }
        }
    }

    .checkoutOrClearDiv {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        justify-items: flex-start;
        // align-items: center;
        gap: 20px;
        padding-inline: 14px;
        padding-top: 20px;
        border-top: solid gray;

        div {
            flex-basis: 50%;
            flex-grow: 1;
            flex-shrink: 0;
        }
        .totalAndCheckout {
            display: flex;
        }
        .totalPrice-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            p{
                border: none;
            }

            input {
                font-size: 25px;
                font-weight: 600;
                width: 120px;
                text-align: center;
                background-color: transparent;
                text-decoration: underline;
            }
        }
        .checkoutDiv {
            @include flexCenter();

            a {
                @include flexCenter();
                text-align: center;
                // border: solid;
                flex-grow: 1;
                height: 100%;
                background-color: green;
                font-size: 24px;
                color: wheat;
                font-weight: 800;
                border-radius: 8px;
                transition: 400ms;
                &:hover {
                    color: white;
                    box-shadow: 4px 4px 4px greenyellow;
                }
                &:active {
                    color: white;
                    box-shadow: 2px 2px 2px;
                    background-color: rgb(16, 99, 16);
                }
            }
        }
        .clearCDiv {
            height: 20%;
            align-self: flex-end;
            button {
                // width: 100%;
                color: black;
                border-radius: 0;
                background-color: red;
                padding-inline: 12px;
            }
        }
    }
}
