@-webkit-keyframes fade-in {
  0% {
    visibility: collapse;
    background-color: rgba(0, 0, 0, 0.001);
  }
  100% {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@keyframes fade-in {
  0% {
    visibility: collapse;
    background-color: rgba(0, 0, 0, 0.001);
  }
  100% {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.fadeInCart {
  -webkit-animation: fade-in 400ms ease-in 0ms 1 forwards;
          animation: fade-in 400ms ease-in 0ms 1 forwards;
}

.fadeOutCart {
  -webkit-animation: fade-in 2000ms ease-in 400ms 2 alternate backwards;
          animation: fade-in 2000ms ease-in 400ms 2 alternate backwards;
}

.faderBlck {
  -webkit-animation: fadeBlack 600ms ease-in-out 0ms 1 forwards;
          animation: fadeBlack 600ms ease-in-out 0ms 1 forwards;
}

@-webkit-keyframes fadeBlack {
  0% {
    right: 0;
  }
  100% {
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes fadeBlack {
  0% {
    right: 0;
  }
  100% {
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@-webkit-keyframes sideCartFadeOut {
  98% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
    right: min(-120%, -600px);
  }
}
@keyframes sideCartFadeOut {
  98% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
    right: min(-120%, -600px);
  }
}
.faderout {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: sideCartFadeOut 500ms ease-in 200ms 1 forwards;
          animation: sideCartFadeOut 500ms ease-in 200ms 1 forwards;
}

.cartModalHidden {
  right: min(-120%, -600px);
}

.sidecartHidden {
  right: min(-120%, -600px);
}

#sideCartCont {
  position: fixed;
  height: 100vh;
  min-width: 100vw;
  top: 0%;
  z-index: 2;
}

.cartSection {
  position: fixed;
  height: 100vh;
  min-width: 260px;
  max-width: 350px;
  border: gray 3px solid;
  border-right: none;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 0px 6px 10px black;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 8px;
  padding-right: 0px;
  overflow-y: scroll;
  z-index: 2;
}
.cartSection .isEmptyCart {
  margin: auto;
  position: absolute;
  top: 26%;
  min-width: 200px;
}
.cartSection .sideCartHeader {
  position: relative;
  min-height: 66px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}
.cartSection .sideCartHeader .closeSideCart {
  position: absolute;
  right: 6px;
  justify-self: left;
  background-color: aliceblue;
  border-radius: 50%;
  transition: 400ms;
}
.cartSection .sbc-itemsInCartDiv {
  background-color: rgb(79, 183, 224);
  color: black;
  padding-block: 6px;
  padding-left: 20px;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cartSection .sbc-itemsInCartDiv label {
  font-size: 20px;
}
.cartSection .sbc-itemsInCartDiv input {
  text-align: center;
  width: 60px;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-weight: 800;
  border: none;
  outline: none;
}
.cartSection .sbc-ItemsDiv {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: red;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv {
  width: 100%;
  font-size: 12px;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv:not(:last-child) {
  border-bottom: solid gray;
  padding-bottom: 10px;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .sbc-product-img {
  height: 40px;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .itemsDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  padding-bottom: 20px;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .itemsDetails .imgAndName {
  gap: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .itemsDetails .detailDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .itemsDetails .detailDiv label {
  font-size: 12px;
  text-align: center;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .itemsDetails .detailDiv input {
  background-color: transparent;
  text-align: center;
  font-size: 14px;
  border: none;
  outline: none;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .itemsDetails .sbc_qtyDiv input {
  max-width: 60px;
  font-size: 15px;
  font-weight: 600;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div .sbc-addOrMinusDiv {
  align-self: flex-start;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0px 10px;
  padding-left: 6px;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div .sbc-addOrMinusDiv button {
  width: 80px;
  border: solid 1px gray;
  border-radius: 0;
  padding-inline: 4px;
  padding-block: 4px;
  background-color: rgb(30, 30, 30);
  transition: 200ms;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div .sbc-addOrMinusDiv .addplusonebtn:hover {
  background-color: rgb(50, 50, 50);
  border-color: green;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div .sbc-addOrMinusDiv .addplusonebtn:active {
  background-color: rgb(60, 80, 60);
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div .sbc-addOrMinusDiv .minus-item:hover {
  background-color: rgb(50, 50, 50);
  border-color: orangered;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div .sbc-addOrMinusDiv .minus-item:active {
  background-color: rgb(100, 50, 50);
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div .sbc-remove-item-div button {
  border: solid 1px gray;
  background-color: orange;
  color: black;
  font-weight: 600;
}
.cartSection .sbc-ItemsDiv .sbc_itemDiv .controls-div .sbc-remove-item-div button:hover {
  color: white;
  background-color: red;
  border-color: orange;
}
.cartSection .checkoutOrClearDiv {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 20px;
  padding-inline: 14px;
  padding-top: 20px;
  border-top: solid gray;
}
.cartSection .checkoutOrClearDiv div {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}
.cartSection .checkoutOrClearDiv .totalAndCheckout {
  display: flex;
}
.cartSection .checkoutOrClearDiv .sbc-totalPrice-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}
.cartSection .checkoutOrClearDiv .sbc-totalPrice-div p {
  border: none;
}
.cartSection .checkoutOrClearDiv .sbc-totalPrice-div input {
  font-size: 25px;
  font-weight: 600;
  width: 120px;
  text-align: center;
  background-color: transparent;
  text-decoration: underline;
}
.cartSection .checkoutOrClearDiv .checkoutDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartSection .checkoutOrClearDiv .checkoutDiv a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  height: 100%;
  background-color: green;
  font-size: 24px;
  color: wheat;
  font-weight: 800;
  border-radius: 8px;
  transition: 400ms;
}
.cartSection .checkoutOrClearDiv .checkoutDiv a:hover {
  color: white;
  box-shadow: 4px 4px 4px greenyellow;
}
.cartSection .checkoutOrClearDiv .checkoutDiv a:active {
  color: white;
  box-shadow: 2px 2px 2px;
  background-color: rgb(16, 99, 16);
}
.cartSection .checkoutOrClearDiv .sbc-clearCDiv {
  height: 20%;
  align-self: flex-end;
}
.cartSection .checkoutOrClearDiv .sbc-clearCDiv button {
  color: black;
  border-radius: 0;
  background-color: red;
  padding-inline: 12px;
}/*# sourceMappingURL=sidecart.css.map */