#sideCartDiv {
  transition: 400ms;
  position: fixed;
  height: 100vh;
  min-width: 100vw;
  top: 0%;
  right: 0%;
  z-index: 2;
}

.cartSection {
  position: fixed;
  height: 100%;
  max-width: 350px;
  top: 0%;
  right: 0%;
  background-color: wheat;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 8px;
  overflow-y: scroll;
  z-index: 2;
}
.cartSection .sideCartHeader {
  position: relative;
  min-height: 66px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}
.cartSection .sideCartHeader .closeSideCart {
  position: absolute;
  right: 6px;
  justify-self: left;
  background-color: aliceblue;
  border-radius: 50%;
  transition: 400ms;
}
.cartSection .itemsInCartDiv {
  background-color: black;
  color: white;
  padding-block: 6px;
  padding-left: 20px;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cartSection .itemsInCartDiv label {
  font-size: 16px;
}
.cartSection .itemsInCartDiv input {
  text-align: center;
  width: 60px;
  background-color: transparent;
  color: green;
  font-size: 24px;
  font-weight: 800;
}
.cartSection .ItemsDiv {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.cartSection .ItemsDiv .itemDiv {
  font-size: 12px;
}
.cartSection .ItemsDiv .itemDiv .product-img {
  height: 40px;
}
.cartSection .ItemsDiv .itemDiv .itemsDetails {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
}
.cartSection .ItemsDiv .itemDiv .itemsDetails div {
  padding: 0;
}
.cartSection .ItemsDiv .itemDiv .itemsDetails .imgAndName {
  gap: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartSection .ItemsDiv .itemDiv .itemsDetails .detailDiv:not(:nth-child(-n+1)) {
  display: flex;
  justify-content: center;
}
.cartSection .ItemsDiv .itemDiv .itemsDetails .detailDiv:not(:nth-child(-n+1)) input {
  max-width: 80px;
  padding: 0;
  border: none;
  width: 20px;
}
.cartSection .ItemsDiv .itemDiv .itemsDetails .detailDiv label {
  font-size: 12px;
  text-align: center;
}
.cartSection .ItemsDiv .itemDiv .itemsDetails .detailDiv input {
  background-color: transparent;
  text-align: center;
  font-size: 14px;
  border: solid;
}
.cartSection .ItemsDiv .itemDiv .controls-div {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  width: 100%;
}
.cartSection .ItemsDiv .itemDiv .controls-div .addOrMinusDiv {
  align-self: flex-start;
  display: flex;
  gap: 20px 20px;
  padding-left: 6px;
}
.cartSection .ItemsDiv .itemDiv .controls-div .addOrMinusDiv button {
  width: 80px;
  border: solid;
  border-radius: 0;
  padding-inline: 4px;
  padding-block: 4px;
}
.cartSection .ItemsDiv .itemDiv .controls-div .addOrMinusDiv .addplusonebtn {
  background-color: green;
}
.cartSection .ItemsDiv .itemDiv .controls-div .addOrMinusDiv .minus-item {
  background-color: yellow;
}
.cartSection .ItemsDiv .itemDiv .controls-div .remove-item-div {
  align-self: flex-end;
  padding-right: 2px;
}
.cartSection .ItemsDiv .itemDiv .controls-div .remove-item-div button {
  background-color: red;
  color: white;
  padding-inline: 8px;
}
.cartSection .checkoutOrClearDiv {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 20px;
  padding-inline: 14px;
  padding-top: 20px;
}
.cartSection .checkoutOrClearDiv div {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}
.cartSection .checkoutOrClearDiv .totalAndCheckout {
  display: flex;
}
.cartSection .checkoutOrClearDiv .totalPrice-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cartSection .checkoutOrClearDiv .totalPrice-div input {
  font-size: 25px;
  font-weight: 600;
  width: 120px;
  text-align: center;
  background-color: transparent;
  text-decoration: underline;
}
.cartSection .checkoutOrClearDiv .checkoutDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartSection .checkoutOrClearDiv .checkoutDiv a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid;
  flex-grow: 1;
  height: 100%;
  background-color: green;
  font-size: 24px;
  color: wheat;
  font-weight: 800;
  border-radius: 8px;
  transition: 400ms;
}
.cartSection .checkoutOrClearDiv .checkoutDiv a:hover {
  color: white;
  box-shadow: 4px 4px 4px black;
}
.cartSection .checkoutOrClearDiv .checkoutDiv a:active {
  color: white;
  box-shadow: 2px 2px 2px;
  background-color: rgb(16, 99, 16);
}
.cartSection .checkoutOrClearDiv .clearCDiv {
  height: 20%;
  align-self: flex-end;
}
.cartSection .checkoutOrClearDiv .clearCDiv button {
  color: black;
  border-radius: 0;
  background-color: red;
  padding-inline: 12px;
}/*# sourceMappingURL=sidecart.css.map */