* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.homeContainer {
  padding-inline: 40px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgb(183, 228, 106);
  min-height: 100vh;
  margin-inline: auto;
  background-image: url(/src/assets/images/Homepage/bg01.png);
  background-size: auto;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textCenter {
  text-align: center;
}

.welcome-div {
  background-color: rgb(67, 16, 19);
  width: 100%;
  margin-inline: auto;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;
  box-shadow: -4px -4px 4px 4px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.welcome-div h1 {
  width: 100%;
}

.short-about p {
  font-size: 1.2rem;
}

#close-welcome-div {
  cursor: pointer;
  padding-inline: 2px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 22px;
  background-color: rgb(139, 139, 135);
  transition: 300ms;
}
#close-welcome-div:hover {
  background-color: goldenrod;
}

.categories {
  width: 100%;
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.category {
  min-width: 300px;
  color: white;
  display: grid;
  align-content: end;
  border: solid;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-color: rgba(220, 220, 236, 0.1);
  background-blend-mode: multiply;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px black;
  opacity: 0.9;
}
.category:hover {
  opacity: 1;
}
.category a {
  font-size: 40px;
  font-weight: 1000;
  color: black;
  background-color: rgb(36, 83, 57);
  text-decoration: none;
  text-align: center;
  line-break: auto;
  word-break: break-word;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: 400ms;
}
.category a:hover {
  opacity: 1;
  color: white;
}

.Laptops-c {
  background-image: url(/src/assets/images/Homepage/laptops.jpg);
}
.Laptops-c:hover {
  -webkit-animation: zoomer 6s ease-in 0s 1 alternate backwards;
          animation: zoomer 6s ease-in 0s 1 alternate backwards;
}

.phones-c {
  background-image: url(/src/assets/images/Homepage/smartphones02.jpg);
}
.phones-c:hover {
  -webkit-animation: zoomer 6s ease-in 0s 1 alternate backwards;
          animation: zoomer 6s ease-in 0s 1 alternate backwards;
}

.desktops-c {
  background-image: url(/src/assets/images/Homepage/desktops.jpg);
}
.desktops-c:hover {
  -webkit-animation: zoomer 6s ease-in 0s 1 alternate backwards;
          animation: zoomer 6s ease-in 0s 1 alternate backwards;
}

.clothing-c {
  background-image: url(/src/assets/images/Homepage/clothing02.png);
}
.clothing-c:hover {
  -webkit-animation: zoomer 6s linear 0s 1 alternate backwards;
          animation: zoomer 6s linear 0s 1 alternate backwards;
}

.featured-c {
  order: -5;
  background-image: url(/src/assets/images/Homepage/featured.jpg);
}
.featured-c:hover {
  -webkit-animation: zoomer 6s linear 0s 1 alternate backwards;
          animation: zoomer 6s linear 0s 1 alternate backwards;
}

.medical-c {
  background-image: url(/src/assets/images/Homepage/medical.jpg);
}
.medical-c:hover {
  -webkit-animation: zoomer 6s ease-in 0s 1 alternate backwards;
          animation: zoomer 6s ease-in 0s 1 alternate backwards;
}

@-webkit-keyframes zoomer {
  0% {
    background-size: auto 100%;
  }
  50% {
    background-size: auto 200%;
  }
  100% {
    background-size: auto 100%;
  }
}

@keyframes zoomer {
  0% {
    background-size: auto 100%;
  }
  50% {
    background-size: auto 200%;
  }
  100% {
    background-size: auto 100%;
  }
}/*# sourceMappingURL=landing.css.map */