


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    justify-content: center;
    align-items: center;
}

$eleBlack:rgba(30,30,30,1);
$backColor: linear-gradient(to right, #0f0c29, #302b63, #24243e);
$wraperColor: linear-gradient(to right, #fffbd5, #b20a2c);
$specialGreen: rgb(155, 243, 199);
$nickelodeon: rgb(244, 109, 37);


.homeContainer{
    padding-inline: 0px;
    padding-left: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgb(183, 228, 106);
    min-height: 100vh;
   // max-width: 90%;
    margin-inline: auto;
    background-image: url(/src/assets/images/Homepage/bg01.png);
    background-size: auto;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.textCenter{
    text-align: center;
}

.welcome-div{
    background-color: rgb(67, 16, 19);
    width: 100%;
    margin-inline: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    box-shadow: -4px -4px 4px 4px black;
    position: relative;
    @include flexCenter();
    flex-direction: column;
    gap: 40px;
    h1{
        width: 100%;
    }
}
.short-about{
   // margin-top: 4%;
//    @include flexCenter();
//     flex-direction: column;
//     gap: 40px;
    p{
        font-size: 1.2rem;
    }
}

#close-welcome-div{
    cursor: pointer;
    padding-inline: 2px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    background-color: rgb(139, 139, 135);
    transition: 300ms;
    &:hover{
        background-color: goldenrod;
    }
}



.categories{
    width: 100%;
    display: grid;
    @include flexCenterWrap();
   // grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.category{
    min-width: 300px;
    color: white;
   // @include flexCenter();
   display: grid;
   align-content: end;
  // place-content: end;
//    place-items: end;
    border: solid;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-color: rgba(220, 220, 236, 0.1);
    background-blend-mode: multiply;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px black;
    opacity: 0.9;
    &:hover{
       opacity: 1;
       // cursor: pointer;
        // background-color: rgba(36, 36, 62, 0.6);
    }
    a{
        font-size: 40px;
        font-weight: 1000;
        // width: 100%;
        // height: 100%;
        // border: solid;
       // margin-bottom: auto;
        color: black;
        background-color: rgb(36, 83, 57);
        text-decoration: none;
        text-align: center;
        line-break: auto;
        word-break: break-word;
        white-space: normal;
        @include flexCenter();
        opacity: 0.8;
        transition: 400ms;
        &:hover{
       opacity: 1;
       color: white
       // cursor: pointer;
        // background-color: rgba(36, 36, 62, 0.6);
    }
    };
}

.Laptops-c{
    background-image: url(/src/assets/images/Homepage/laptops.jpg);
    &:hover{
    animation: zoomer 6s ease-in 0s 1 alternate backwards;
    }
}
.phones-c{
    background-image: url(/src/assets/images/Homepage/smartphones02.jpg);
    &:hover{
    animation: zoomer 6s ease-in 0s 1 alternate backwards;
    }
}
.desktops-c{
    background-image: url(/src/assets/images/Homepage/desktops.jpg);
    &:hover{
    animation: zoomer 6s ease-in 0s 1 alternate backwards;
    }
}
.clothing-c{
    background-image: url(/src/assets/images/Homepage/clothing02.png);
    &:hover{
    animation: zoomer 6s linear 0s 1 alternate backwards;
    }
}
.featured-c{
    order: -5;
    background-image: url(/src/assets/images/Homepage/featured.jpg);
    &:hover{
    animation: zoomer 6s linear 0s 1 alternate backwards;
    }
}
.medical-c{
    background-image: url(/src/assets/images/Homepage/medical.jpg);
    &:hover{
    animation: zoomer 6s ease-in 0s 1 alternate backwards;
    }
    
}

@keyframes zoomer {
    0%{
        background-size: auto 100%;
    }
    50%{
        background-size: auto 200%;
    }
    100%{
        background-size: auto 100%;
    }
}


