.msb_container_modal {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}
.msb_activator {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2;
    // height: 100%;
    min-height: 100vh;
    width: 50px;
    background-color: darkcyan;
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    button {
        flex-grow: 1;
        min-height: 100%;
        width: 100%;
        background-color: white;
        // rotate: 90deg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-rl;
        text-orientation: sideways;
    }
}
.msb_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.msb_container {
    position: fixed;
    min-height: 100%;
    min-width: 300px;
    max-width: 600px;
    transition: 400ms;
    z-index: 55;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}

.msb_signup_cont {
    // padding-left: 10px;
    // padding-right: 10px;
    position: absolute;
    // border: solid;
    width: 100%;
    // min-height: 100%;
    // min-width: 300px;
    // max-width: 600px;
    transition: 400ms;
    // z-index: 55;
}
.msb_login_cont {
    position: absolute;
    width: 100%;
    transition: 400ms;
}
.msb_SendMessage_cont {
    position: absolute;
    width: 100%;
    transition: 400ms;
}

.msb_main_list {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    // border: solid;
    width: 100%;
    transition: 400ms;
    display: grid;
    row-gap: 40px;
}

.msb_list_item {
    display: flex;
    border-bottom: solid gray;
    font-size: 20px;
    padding-bottom: 10px;
    // border-left: none;
    // border-right: none;
    .msb_list_item_btn{
        color: black;
        transition: 200ms;
        &:hover{
            color: rgb(8, 138, 224);
        }
        &:focus{
            color: rgb(8, 138, 224);
        }
    }
}

.msp_smallLists {
    row-gap: 6px;
    border: solid;
    box-shadow: -4px 4px 4px 4px black;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    background-color: white;
    // z-index: 1;
    position: absolute;
    right: 20px;
    a {
        text-align: center;
        padding-inline: 10px;
        background-color: rgb(230, 230, 230);
        &:hover{
            background-color:  rgb(155, 243, 199);
        }
    }
}
.msb_closeSLB {
    background-color: rgb(248, 103, 50);
    font-size: 12px;
}

.msp_start_slidedUp{
    display: none;
}
.msp_slideDown {
    animation: msp_slideDown ease-in-out 400ms 1 forwards;
}

@keyframes msp_slideDown {
    0% {
        z-index: 2;
        height: 0px;
        overflow: hidden;
    }
    99% {
        height: 204px;
        overflow: hidden;
    }
    100% {
        z-index: 2;
        height: auto;
    }
}

.msp_slideUpoo {

     row-gap: 6px;
    border: solid;
    box-shadow: -4px 4px 4px 4px black;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    right: 20px;
    a {
        text-align: center;
        padding-inline: 10px;
        background-color: rgb(230, 230, 230);
        &:hover{
            background-color:  rgb(155, 243, 199);
        }
    }
    z-index: 0;
    
    animation: msp_slideUp3 ease-in-out 400ms 0ms 1 forwards;
    // display: none;
    // left: 100%;
}

@keyframes msp_slideUp3 {
    0% {
        height: 175px;
        overflow: hidden;
        
    }
    90%{
        height: 0;
        overflow: hidden;
        // rotate: 180deg;
        opacity: 0.001;
    }
    100% {
        height: 0;
        overflow: hidden;
    opacity: 0;
        // visibility: collapse;
        display: none;
    }
}

.msb_start-hidden {
    position: absolute;
    left: min(-100%, -320px);
    display: none;
    visibility: collapse;
}

.msb_slideInside {
    animation: msb_slideInside ease-in-out 400ms 0ms 1 forwards;
}

@keyframes msb_slideInside {
    0% {
        left: min(-100%, -320px);
    }
    50% {
        overflow: hidden;
    }
    100% {
        left: 0;
    }
}

.msb_slideOutside {
    // position: fixed;
    animation: msb_slideOutside ease-in-out 400ms 0ms 1 forwards;
}
@keyframes msb_slideOutside {
    0% {
        left: 0;
    }
    50% {
        overflow: hidden;
    }
    100% {
        left: min(-100%, -320px);
    }
}

.msb_fadeOut {
    animation: msb_fadeOut ease-in-out 400ms 0ms 1 forwards;
}
@keyframes msb_fadeOut {
    0% {
        background-color: rgba(0, 0, 0, 0.8);
    }
    50% {
        overflow: hidden;
    }
    100% {
        background-color: transparent;
        left: min(-100%, -320px);
    }
}
