* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

$eleBlack: rgba(30, 30, 30, 1);
$backColor: linear-gradient(to right, #0f0c29, #302b63, #24243e);
$wraperColor: linear-gradient(to right, #fffbd5, #b20a2c);
$specialGreen: rgb(155, 243, 199);
$nickelodeon: rgb(244, 109, 37);

.isEmptydiv {
    @include flexCenter();
    text-align: center;
}

.cartCont {
    // border: solid red;
    padding-block: 1px;
}

.itemsNCartDiv {
    background-color: #0f0c29;
    @include flexCenterWrap();
    gap: min(20%, 20px);
    padding-block: 20px;
    margin-bottom: 60px;

    p:nth-of-type(1) {
        font-size: 1.3rem;
        // background-color: darkgreen;
        color: white;
        padding-inline: 2%;
    }
    p:nth-of-type(2) {
        font-size: 20px;
        font-weight: 600;
        // background-color: rgb(54, 138, 117);
        background-color: white;
        color: green;
        // padding-inline: 10px;
        line-height: 35px;
        width: 35px;
        text-align: center;
        // height: 40px;
        border-radius: 50%;
    }
}

.itemsDiv {
    // border: solid 5px seagreen;
    @include flexCenterWrap();
    align-items: stretch;
    align-content: stretch;
    gap: 40px;
}

.itemDiv {
    border: solid 8px;
    border-radius: 14px;
    padding-inline: 4px;
    padding-block: 8px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
    min-width: 320px;
    max-width: 600px;
    // border: solid salmon;
    @include gridCenter();
    text-align: center;

    .itemDetails {
        // border: solid;
        width: 100%;
        @include gridCenter();
        gap: 6px;
        font-size: 26px;

        .product-img {
            height: 100px;
        }

        div {
            width: 100%;
            word-wrap: break-word;
            word-break: break-all;
            line-break: anywhere;
            white-space: normal;
            min-height: 3rem;
            @include flexCenter();
        }
    }
    .item_quantity {
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        width: 90px;
    }

    .control-div {
        background-color: rgb(40, 40, 40);
        border-radius: 10px;
        width: 100%;
        padding-block: 4px;
        // display: flexoo;

        .addOrMinus {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding-bottom: 20px;

            div {
                // flex-grow: 1;
                flex-basis: 26%;
            }
        }

        .add-item-div {
            padding-block: 1%;

            button {
                cursor: pointer;
                // background-color: greenyellow;
                color: white;
                min-height: 40px;
                font-size: 18px;
                // width: 50%;
                min-width: 120px;
            }
        }
        .minus-item-div {
            padding-block: 1%;

            button {
                cursor: pointer;
                text-align: center;
                background-color: sandybrown;
                min-height: 40px;
                min-width: 120px;
                font-size: 18px;
                // width: 50%;
                max-width: 140px;
                border-radius: 8px;
                // transition: 600ms;
                &:hover {
                    color: red;
                    background-color: wheat;
                }
            }
        }
        .remove-item-div {
            padding-block: 6px;
            padding-inline: 5px;
            text-align: right;

            button {
                padding-inline: 5px;
                cursor: pointer;
                background-color: red;
                border-radius: 6px 6px 6px 6px;
                transition: 200ms;
                &:hover {
                    color: white;
                    opacity: 0.6;
                }
            }
        }
    }
}

.totalNclearDiv {
    display: grid;
    gap: 80px;
    padding-inline: min(60px, 4%);
    padding-block: min(60px, 4%);
}

.totalPrice-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // gap: 20px;
    border-top: solid;
    width: 100%;

    p:nth-of-type(1) {
        text-align: center;
        font-size: 1.2rem;
    }
    p:nth-of-type(2) {
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        //text-decoration: underline;
        border-top: solid;
        padding: 1%;
        border-bottom: solid;
    }
}
.checkoutLink {
    // flex-grow: 1;
    // flex-basis: 40%;
    text-align: center;
    a {
        background-color: rgb(16, 52, 99);
        color: white;
        // border: solid white;
        // height: 100%;
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
        box-shadow: 4px 4px 4px black;
        transition: 200ms;
        &:hover {
            color: rgb(154, 243, 127);
            box-shadow: 2px 2px 2px black;
            background-color: rgb(36, 72, 119);
        }
        &:active {
            background-color: white;
            box-shadow: 0px 0px 0px;
            color: green;
        }
    }
}

.clearCDiv {
    //justify-self: flex-end;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    //justify-self: flex-end;

    button {
        background-color: lightcoral;
        color: white;
        border-radius: 5px;
        padding-inline: 1%;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}
