* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Main_header {
  padding-inline: 0%;
}
.Main_header .sideBar-btn-div {
  display: none;
}
.Main_header .svg-img {
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  fill: red;
  z-index: -6;
  color: red;
}
.Main_header .main-nav {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.Main_header .main-nav ul {
  padding-inline: 20px;
  padding-right: 100px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  padding-block: 1%;
  background-color: rgb(36, 31, 31);
}
.Main_header .main-nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 0;
}
.Main_header .main-nav ul li a {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(204, 38, 35);
  border: solid;
  padding-block: 5px;
  padding-inline: 20px;
  border-radius: 12px;
  transition: 400ms;
}
.Main_header .main-nav ul li a:hover {
  background-color: darkolivegreen;
  color: black;
}

.topFixedBar {
  display: none;
}

.sideNavHidden {
  left: min(-220%, -600px);
}

@-webkit-keyframes fadeInSideNav {
  0% {
    background-color: transparent;
    left: 0;
  }
  100% {
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes fadeInSideNav {
  0% {
    background-color: transparent;
    left: 0;
  }
  100% {
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@-webkit-keyframes fadeOut {
  100% {
    background-color: transparent;
    left: min(-120%, -600px);
  }
}
@keyframes fadeOut {
  100% {
    background-color: transparent;
    left: min(-120%, -600px);
  }
}
@-webkit-keyframes slideIn {
  0% {
    left: min(-100%, -600px);
  }
  100% {
    left: 0%;
  }
}
@keyframes slideIn {
  0% {
    left: min(-100%, -600px);
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes slideingOut {
  0% {
    left: 0%;
  }
  100% {
    left: min(-220%, -600px);
  }
}
@keyframes slideingOut {
  0% {
    left: 0%;
  }
  100% {
    left: min(-220%, -600px);
  }
}
.slidehide {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: fadeOut 400ms ease 0ms 1 forwards;
          animation: fadeOut 400ms ease 0ms 1 forwards;
}

.slideshow {
  -webkit-animation: fadeInSideNav 400ms ease 0ms 1 forwards;
          animation: fadeInSideNav 400ms ease 0ms 1 forwards;
}

.slide-in {
  -webkit-animation: slideIn 400ms ease 0ms 1 forwards;
          animation: slideIn 400ms ease 0ms 1 forwards;
}

.slideBar-out {
  -webkit-animation: slideingOut 600ms ease-in 100ms 1 forwards;
          animation: slideingOut 600ms ease-in 100ms 1 forwards;
}

@media screen and (max-width: 900px) {
  .topFixedBar {
    display: grid;
    min-height: 60px;
    width: 100%;
    background-color: #0f0c29;
    position: fixed;
    z-index: 2;
  }
  .topFixedBar #fixedBarTitle {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 60%;
    max-height: 100%;
  }
  .topFixedBar #fixedBarTitle a {
    font-size: 40px;
  }
  .Main_header .main-nav {
    display: none;
  }
  .Main_header .sideBar-btn-div {
    position: absolute;
    top: 10%;
    left: 12%;
    border-radius: 6px;
    background-color: #0f0c29;
    display: grid;
    place-items: center;
    z-index: 10;
  }
  .Main_header .sideBar-btn-div .sideBar-btn {
    height: 40px;
    width: 40px;
    gap: 3px;
    background-color: white;
    border: none;
    border-radius: 6px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Main_header .sideBar-btn-div .sideBar-btn:hover {
    background-color: rgb(158, 47, 69);
  }
  .Main_header .sideBar-btn-div .sideBar-btn:hover span {
    background-color: whitesmoke;
    border-color: darkgreen;
  }
  .Main_header .sideBar-btn-div .sideBar-btn span {
    width: 80%;
    height: 6px;
    background-color: black;
    border-radius: 50px 50px;
  }
  .Main_header .sidebarContainer_Div {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
  .Main_header .sidebar-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
    height: 100%;
    background-color: #24243e;
  }
  .Main_header .sidebar-nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 60px;
    border-radius: 12px;
    padding-inline: 20px;
  }
  .Main_header .sidebar-nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 600;
    background-color: rgb(37, 158, 98);
    padding-block: 5px;
    border-radius: 12px;
  }
  .Main_header .sidebar-nav ul li a:hover {
    background-color: orange;
  }
}/*# sourceMappingURL=header.css.map */