* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}
$specialGreen: rgb(37, 158, 98);

.Main_header {
    // min-height: 200px;
    width: 100%;
    padding-inline: 0px;
    
    margin-inline: auto;
    // border: solid red;
    display: flex;
    justify-content: center;
    // align-items: center;
    //    background-image: url(/src/assets/images/bg02.png);
    //    background-size: auto 100%;
    // background-repeat: no-repeat;
    // background-position: center center;
    // display: grid;
    // overflow: hidden;
    //background-image: url(./image/assetttAsset4.svg);

    .sideBar-btn-div {
        display: grid;
    }

    .svg-img {
        position: absolute;
        //top: 0;
        //border: solid;
        // border: solid red;
        object-fit: fill;
        object-position: center;
        width: 100%;
        height: 100%;
        background-repeat: repeat;

        fill: red;
        z-index: -6;
        color: red;
    }

    .main-nav {
        // width: 50%;
        position: absolute;
        top: 0;
        z-index: 1;
        margin-inline: auto;
        width: 100%;
        display: flex;
        min-height: 80px;
        .mh-logo-div {
            position: absolute;
            left: 80px;
            top: 50%;
            translate: 0% -50%;
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
                transition: 400ms;
                outline: solid transparent;
                &:hover{
                    scale: 0.8;
                    // border: solid orangered;
                    outline: white solid;
                    // object-fit: contain;
                }
            }
        }
        .mh-user-div{
            position: absolute;
            // right: min(24%, 150px);
            right: 100px;
            top: 50%;
            translate: 0% -50%;
            a{
                // font-size: 50px;
                &:hover{
                    color: skyblue;
                }
            }
        }

        ul {
            flex-grow: 1;
            flex-shrink: 0;
            // padding-inline: 100px;
            // padding-right: 188px;
            // padding-right: 100px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
            // width: 80%;
            padding-block: 1%;
            background-color: rgb(36, 31, 31);
            //border: solid white;
            //border-radius: 12px;

            li {
                @include flexCenter();
                align-content: center;
                //  border: solid blue;
                // flex-grow: 1;
                a {
                    flex-grow: 1;
                    @include flexCenter();
                    width: 100%;
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                    // background-color: rgb(204, 38, 35);
                    // border: solid;
                    padding-block: 5px;
                    padding-inline: 10px;
                    border-radius: 12px;
                    //width: 100%;
                    // border: solid orange;
                    transition: 400ms;
                    &:hover {
                        background-color: rgb(155, 243, 199);
                        color: black;
                        // color: black;
                    }
                }
            }
        }
    }
}

.topFixedBar {
    display: none;
}
.sidebar-nav {
    display: none;
}

.sideNavHidden {
    left: min(-220%, -600px);
}
@keyframes fadeInSideNav {
    0% {
        background-color: transparent;
        left: 0;
    }
    100% {
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        // background-color: red;
    }
}

@keyframes sideBarFadeOut {
    100% {
        background-color: transparent;
        left: min(-120%, -600px);
    }
}

@keyframes slideIn {
    0% {
        left: min(-100%, -600px);
    }
    100% {
        left: 0%;
    }
}
@keyframes slideingOut {
    0% {
        left: 0%;
    }
    100% {
        left: min(-220%, -600px);
    }
}

.slidehide {
    background-color: rgba(0, 0, 0, 0.8);
    animation: sideBarFadeOut 400ms ease 0ms 1 forwards;
}

.slideshow {
    // background-color: rgba(0, 0, 0, 0.8);
    animation: fadeInSideNav 400ms ease 0ms 1 forwards;
}

.slide-in {
    // transition: 500ms;
    // left: 0;
    animation: slideIn 400ms ease 0ms 1 forwards;
}
.slideBar-out {
    // transition: 1000ms;
    // left: min(-120%, -600px);
    animation: slideingOut 600ms ease-in 100ms 1 forwards;
}

@media screen and(max-width:900px) {
    .topFixedBar {
        display: grid;
        min-height: 80px;
        width: 100%;
        background-color: #0f0c29;
        position: fixed;
        top: 0%;
        z-index: 1;

        #fixedBarTitle {
            color: white;
            text-align: center;
            position: absolute;
            left: 60%;
            top: 50%;
            translate: -50% -50%;
            width: 60%;
            max-height: 100%;
            a {
                font-size: 30px;
            }
        }
        .nsb-logo-div {
            position: absolute;
            left: 130px;
            left: min(39%, 210px);
            top: 50%;
            translate: 0% -50%;
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
                transition: 400ms;
                outline: solid transparent;
                &:hover{
                    scale: 0.8;
                    // border: solid orangered;
                    outline: white solid;
                    // object-fit: contain;
                }
            }
        }
        .nsb-user-div{
            position: absolute;
            right: 90px;
            right: 20%;
            right: min(24%, 150px);
            top: 50%;
            translate: 0% -50%;
            a{
                &:hover{
                    color: skyblue;
                }
            }
        }
    }

    .Main_header {
        .main-nav {
            display: none;
        }

        .sideBar-btn-div {
            position: absolute;
            top: 20px;
            left: 70px;
            // justify-self: center;
            // margin-top: 18px ;
            //border: solid 2px;
            border-radius: 6px;
            // border: solid 2px white;
            background-color: #0f0c29;
            //  padding: 6px;
            @include gridCenter();
            z-index: 1;

            .sideBar-btn {
                height: 40px;
                width: 40px;
                gap: 3px;
                background-color: white;
                border: none;
                // border-top: solid 20px rgb(221, 161, 94);
                border-radius: 6px;
                justify-self: end;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: rgb(158, 47, 69);
                    span {
                        background-color: whitesmoke;
                        border-color: darkgreen;
                    }
                }

                span {
                    width: 80%;
                    height: 6px;
                    background-color: black;
                    // border: solid red;
                    border-radius: 50px 50px;
                }
            }
        }

        .sidebarContainer_Div {
            position: fixed;
            bottom: 0;
            // display: grid;
            width: 100%;
            min-height: 100vh;
            // border: solid red;
            z-index: 3;
        }

        .sidebar-nav {
            padding-top: 50px;
            position: fixed;
            // top: 0;
            @include flexCenter();
            flex-direction: column;
            min-width: 220px;
            width: 50%;
            max-width: 260px;
            height: 100%;
            height: 100vh;
            // display: none;
            // align-self: center;
            // justify-self: center;
            background-color: #24243e;
            padding-inline: 20px;
            // border: solid white;
            // border-radius: 12px;
            // border: solid red;
            .sbn_closeBtn {
                position: absolute;
                top: 100px;
                top: 10px;
                right: 10px;
                background-color: yellow;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    font-size: 20px;
                    font-weight: 666;
                    line-height: 20px;
                    // border: solid;
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                    transition: 200ms;
                    &:hover {
                        background-color: orange;
                    }
                    &:active {
                        background-color: red;
                    }
                }
            }
            ul {
                height: 80%;
                max-height: 800px;
                width: 100%;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                row-gap: 40px;
                li {
                    display: flex;
                    // min-width: 200px;
                    // flex-grow: 1;
                    width: 100%;
                    a {
                        width: 100%;
                        @include flexCenter();
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                        font-weight: 600;
                        background-color: rgb(253, 162, 112);
                        border-radius: 6px;
                        box-shadow: white 0px 0px 6px 2px;
                        padding-block: 5px;
                        // border-radius: 12px;
                        //width: 100%;
                        // border: solid orange;
                        transition: 400ms;
                        &:hover {
                            background-color: rgb(155, 243, 199);
                        }
                    }
                }
            }
        }
    }
}
