* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

$eleBlack: rgba(30, 30, 30, 1);
$backColor: linear-gradient(to right, #0f0c29, #302b63, #24243e);
$wraperColor: linear-gradient(to right, #fffbd5, #b20a2c);
$specialGreen: rgb(37, 158, 98);
$nickelodeon: rgb(244, 109, 37);

.header {
    min-height: 200px;
    padding-inline: 0%;
       background-image: url(/src/assets/images/bg02.png);
       background-size: auto 100%;
   // background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    position: relative;
    overflow: hidden;
    //background-image: url(./image/assetttAsset4.svg);

    .sideBar-btn-div {
        display: none;
    }

    .svg-img {
        position: absolute;
        //top: 0;
        //border: solid;
        // border: solid red;
        object-fit: fill;
        object-position: center;
        width: 100%;
        height: 100%;
        background-repeat: repeat;

        fill: red;
        z-index: -6;
        color: red;
    }

    .main-nav {
        width: 100%;
        position: fixed;
        z-index: 1;

        ul {
            padding-inline: 20px;
            padding-right: 100px;
            list-style: none;
            @include flexCenterWrap();
            justify-content: space-evenly;
            gap: 20px;
            width: 100%;
            padding-block: 1%;
            background-color: rgb(36, 31, 31);
            //border: solid white;
            //border-radius: 12px;

            li {
                @include flexCenter();
                align-content: center;
                //  border: solid blue;
               flex-grow: 1;
                flex-shrink: 0;
                a {
                    flex-grow: 1;
                    flex-shrink: 0;
                    @include flexCenter();
                    width: 100%;
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                    background-color: rgb(204, 38, 35);
                    border: solid;
                    padding-block: 5px;
                    padding-inline: 20px;
                    border-radius: 12px;
                    //width: 100%;
                    // border: solid orange;
                    transition: 400ms;
                    &:hover {
                        background-color: darkolivegreen;
                        color: black;
                    }
                }
            }
        }
    }
}



















#sidebarContainer{
    display: none;
}

.topFixedBar{
display: none;
}
 .sidebar-nav{
    display: none;
 }

@keyframes slideRighter {
    0%{
        translate: -100% 0;
    }
    100%{
        translate: 0% 0%;
    }
}
@keyframes slideHide {
    // 0%{
    //     translate: 50% 0;
    // }
    100%{
        translate: 100% 0%;
    }
}

@media screen and(max-width:900px) {

    .topFixedBar{
        display: grid;
        min-height: 60px;
        width: 100%;
        background-color: #0f0c29;
        position: fixed;
        z-index: 2;

        #fixedBarTitle{
            color: white;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            width: 60%;
            max-height: 100%;
            a{
                font-size: 40px;
            }
        }
    }

    .header {
        position: relative;

        .main-nav {
            display: none;
        }

        .sideBar-btn-div {
            position: absolute;
            top: 10%;
            left: 12%;
            // justify-self: center;
            // margin-top: 18px ;
            //border: solid 2px;
            border-radius: 6px;
           // border: solid 2px white;
            background-color: #0f0c29;
          //  padding: 6px;
            @include gridCenter();
            z-index: 10;

            .sideBar-btn {
                height: 40px;
                width: 40px;
                gap: 3px;
                background-color: white;
                border: none;
               // border-top: solid 20px rgb(221, 161, 94);
                border-radius: 6px;
                justify-self: end;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: rgb(158, 47, 69);
                    span {
                        background-color: whitesmoke;
                        border-color: darkgreen;
                    }
                }

                span {
                    width: 80%;
                    height: 6px;
                    background-color: black;
                   // border: solid red;
                    border-radius: 50px 50px;
                }
            }
        }

        #sidebarContainer{
           display: grid;
            width: 100%;
            height: 100vh;
            background-color: rgba(89, 89, 90, 0.7);
            position: fixed;
            z-index: 9;
         // left:100%
        }
        .slideshow{
            animation: slideRighter 3s ease-out 1s 1 normal forwards;
        }
        .slidehide{
            animation: slideHide 1s ease-in 0s 1 normal forwards;
        }

        .sidebar-nav {
           // align-self: center;
           // justify-self: center;
            background-color: #24243e;
           min-width: 350px;
           width: 60%;
           height: 100%;
           // border: solid red;
            @include flexCenterWrap();
            position: absolute;
            left: -200%;

            
            // }
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 60px;
               // border: solid white;
                border-radius: 12px;
                margin-inline: auto;
                padding-inline: 4%;

                li {

                    a {
                        @include flexCenter();
                        text-decoration: none;
                        color: black;
                        font-size: 40px;
                        font-weight: 600;
                        background-color: $specialGreen;
                        padding-block: 5px;
                        border-radius: 12px;
                        //width: 100%;
                        // border: solid orange;
                        &:hover {
                            background-color: orange;
                        }
                    }
                }
            }
        }
    }
    .hiddennav {
        display: none;
    }
}
