.msb_login_form_div {
    // border: solid;
    padding-left: 12px;
    padding-right: 6px;
    form {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        row-gap: 20px;

        div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            column-gap: 2px;
            

            label{
                min-width: 80px;
                text-align: center;
                // border: solid;
            }
            input {
                min-width: 220px;
                line-height: 32px;
                font-size: 18px;
                flex-grow: 1;
                border: solid 1px;
                border-radius: 50px;
                outline: none;

                text-align: center;
                transition: 200ms;
                &:focus{
                    border: solid 1px green;
                    // outline: 2px solid gold;
                }

            }
            button {
                border: solid rgb(87, 87, 201);
                padding-inline: 10px;
                padding-block: 5px;
                background-color: skyblue;
                border-radius: 4px;
                transition: 200ms;
                &:hover {
                    border: solid rgb(100, 170, 200);
                    color: white;
                    border-radius: 8px;
                }
                &:active {
                    background-color: whitesmoke;
                    color: skyblue;
                }
            }
        }
    }
}
