.msb_signup_form_div {
    // border: solid;
    padding-left: 4px;
    padding-right: 1px;
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            column-gap: 4px;

            label{
                min-width: 80px;
                // border: solid;
            }
            input {
                flex-grow: 1;
                border: solid;
                border-radius: 50px;
                text-align: center;

            }
            button{
                border: solid;
                padding-inline: 10px;
                padding-block: 5px;
                background-color: green;
                color: white;
            }
        }
    }
}
