* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.isEmptydiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cartCont {
  padding-block: 1px;
}

.itemsNCartDiv {
  background-color: #0f0c29;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: min(20%, 20px);
  padding-block: 20px;
  margin-bottom: 60px;
}
.itemsNCartDiv p:nth-of-type(1) {
  font-size: 1.3rem;
  color: white;
  padding-inline: 2%;
}
.itemsNCartDiv p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: green;
  line-height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 50%;
}

.itemsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  gap: 40px;
}

.itemDiv {
  border: solid 8px;
  border-radius: 14px;
  padding-inline: 4px;
  padding-block: 8px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;
  min-width: 320px;
  max-width: 600px;
  display: grid;
  place-items: center;
  text-align: center;
}
.itemDiv .itemDetails {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 6px;
  font-size: 26px;
}
.itemDiv .itemDetails .product-img {
  height: 100px;
}
.itemDiv .itemDetails div {
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  line-break: anywhere;
  white-space: normal;
  min-height: 3rem;
  display: grid;
  place-items: center;
}
.itemDiv .item_quantity {
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
}
.itemDiv .control-div {
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  width: 100%;
  padding-block: 4px;
}
.itemDiv .control-div .addOrMinus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
}
.itemDiv .control-div .addOrMinus div {
  flex-basis: 26%;
}
.itemDiv .control-div .add-item-div {
  padding-block: 1%;
}
.itemDiv .control-div .add-item-div button {
  cursor: pointer;
  color: white;
  min-height: 40px;
  font-size: 18px;
  min-width: 120px;
}
.itemDiv .control-div .minus-item-div {
  padding-block: 1%;
}
.itemDiv .control-div .minus-item-div button {
  cursor: pointer;
  text-align: center;
  background-color: sandybrown;
  min-height: 40px;
  min-width: 120px;
  font-size: 18px;
  max-width: 140px;
  border-radius: 8px;
}
.itemDiv .control-div .minus-item-div button:hover {
  color: red;
  background-color: wheat;
}
.itemDiv .control-div .remove-item-div {
  padding-block: 6px;
  padding-inline: 5px;
  text-align: right;
}
.itemDiv .control-div .remove-item-div button {
  padding-inline: 5px;
  cursor: pointer;
  background-color: red;
  border-radius: 6px 6px 6px 6px;
  transition: 200ms;
}
.itemDiv .control-div .remove-item-div button:hover {
  color: white;
  opacity: 0.6;
}

.totalNclearDiv {
  display: grid;
  gap: 80px;
  padding-inline: min(60px, 4%);
  padding-block: min(60px, 4%);
}

.totalPrice-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid;
  width: 100%;
}
.totalPrice-div p:nth-of-type(1) {
  text-align: center;
  font-size: 1.2rem;
}
.totalPrice-div p:nth-of-type(2) {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  border-top: solid;
  padding: 1%;
  border-bottom: solid;
}

.checkoutLink {
  text-align: center;
}
.checkoutLink a {
  background-color: rgb(16, 52, 99);
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 4px 4px 4px black;
  transition: 200ms;
}
.checkoutLink a:hover {
  color: rgb(154, 243, 127);
  box-shadow: 2px 2px 2px black;
  background-color: rgb(36, 72, 119);
}
.checkoutLink a:active {
  background-color: white;
  box-shadow: 0px 0px 0px;
  color: green;
}

.clearCDiv {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.clearCDiv button {
  background-color: lightcoral;
  color: white;
  border-radius: 5px;
  padding-inline: 1%;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.clearCDiv button:hover {
  color: black;
}/*# sourceMappingURL=cart.css.map */