@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

$eleBlack: rgba(30, 30, 30, 1);
$backColor: linear-gradient(to right, #0f0c29, #302b63, #24243e);
$wraperColor: linear-gradient(to right, #fffbd5, #b20a2c);
$specialGreen: rgb(37, 158, 98);
$nickelodeon: rgb(244, 109, 37);

.cartcountercontainer {
    // background-color: #0f0c29;
    // border: solid $nickelodeon;
    position: absolute;
    top: 15px;
    right: 15px;
    overflow: hidden;
    border-radius: 8px;
    z-index: 2;
}

.carticonContainer {
    // background-color: #0f0c29;
    padding: 4px;
    // position: absolute;
    // right: 4%;
    // bottom: 0%;
    @include flexCenter();
    // border: white solid;

    .carticonDiv {
        cursor: pointer;
        position: relative;
        // right: 0;
        &:hover {
            i{
                color: rgb(144, 240, 166);
                border-bottom: red solid;
            }
        }
    }
    .cartIconLink {
        i {
            transition: 200ms;
            font-size: 40px;
            color: white;
            // background-color: olive;
        }
        
        
    }

    .cartCounter {
        position: absolute;
        left: 58%;
        top: 24%;
        translate: -50% -50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        color: white;
        @include flexCenter();
        text-decoration: none;
    }
}



@media screen and(max-width:900px){
    .cartcountercontainer{
        position: fixed;
        top: 15px;
    right: 15px;
    overflow: hidden;
    border-radius: 8px;
    z-index: 2;
    }
}