* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

$eleBlack: rgba(30, 30, 30, 1);
$backColor: linear-gradient(to right, #0f0c29, #302b63, #24243e);
$wraperColor: linear-gradient(to right, #fffbd5, #b20a2c);
$specialGreen: rgb(37, 158, 98);
$nickelodeon: rgb(244, 109, 37);



.cartcountercontainer{
    background-color: #0f0c29;
    border: solid $nickelodeon;
    position: fixed;
    top: 1%;
    right: 2%;
    overflow: hidden;
    border-radius: 8px;
    z-index: 12;
}

.carticonContainer{
    background-color: #0f0c29;
    padding: 6px;
    // position: absolute;
    // right: 4%;
    // bottom: 0%;
    @include flexCenter();
    // border: white solid;
    
    .carticonDiv{
        cursor: pointer;
        position: relative;
       // right: 0;
        
    }
    .cartIconLink{
       color: whitesmoke;
        i{
            font-size: 45px;
        }
    }

    .cartCounter{
        position: absolute;
        left: 55%;
        top: 26%;
        translate: -50% -50%;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: orange;
        @include flexCenter();
        text-decoration: none;
    }
}