.cardsContainer {
  background-color: rgb(220, 220, 220);
  padding-block: 100px;
}

.cards-container {
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 0;
}

.card_div {
  background-color: rgb(245, 245, 245);
  background-color: black;
  background-color: white;
  min-width: 300px;
  padding-inline: 0px;
  padding-top: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
  gap: 10px;
  border-radius: 12px;
}
.card_div .product-card-list {
  min-height: 420px;
  list-style: none;
  display: grid;
  place-items: center;
  row-gap: 0px;
}
.card_div .product-card-list li {
  font-size: 20px;
}
.card_div .product-card-list .item_name {
  max-width: 300px;
  overflow: hidden;
  line-height: 24px;
  text-align: center;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.card_div .product-card-list .DetailsToggBtn button {
  border-radius: 3px;
  transition: 300ms;
}
.card_div .product-card-list .DetailsToggBtn button:hover {
  color: white;
  background-color: black;
  box-shadow: 2px 2px 2px 1px black;
}
.card_div .addOrBuyDiv {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_div .addOrBuyDiv button {
  flex-grow: 1;
  background-color: rgb(199, 245, 147);
  color: black;
  width: 80%;
  height: 100%;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: solid 3px transparent;
  transition: 300ms;
}
.card_div .addOrBuyDiv button:hover {
  color: skyblue;
  background-color: black;
  outline: solid 3px rgb(68, 167, 206);
}
.card_div .addOrBuyDiv button:active {
  color: white;
  background-color: green;
  outline: solid 3px rgb(0, 0, 0);
}

.img-li {
  background-color: white;
  padding-bottom: 80px;
  width: 100%;
}

.product-card-img {
  max-height: 160px;
  min-width: 260px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 8px;
}

.heart-like-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heart-like-div .hearts-discount-div .hearts-div {
  color: rgb(165, 165, 165);
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  font-size: 20px;
}
.heart-like-div .hearts-discount-div .hearts-div button:hover {
  color: red;
}
.heart-like-div .hearts-discount-div .hearts-div button:active {
  color: red;
}
.heart-like-div .hearts-discount-div .hearts-div button:focus {
  color: red;
}

.detailsSlide {
  transition: 600ms;
  -webkit-animation: slidedown 600ms 0ms ease-in-out 1 forwards;
          animation: slidedown 600ms 0ms ease-in-out 1 forwards;
}

@-webkit-keyframes slidedown {
  0% {
    height: 427px;
    overflow: hidden;
  }
  50% {
    height: 600px;
    overflow: hidden;
  }
  99% {
    height: 728px;
    overflow: hidden;
  }
}

@keyframes slidedown {
  0% {
    height: 427px;
    overflow: hidden;
  }
  50% {
    height: 600px;
    overflow: hidden;
  }
  99% {
    height: 728px;
    overflow: hidden;
  }
}
.detailsRoll {
  transition: 600ms;
  -webkit-animation: slideUp 300ms 0ms ease-in-out 1 forwards;
          animation: slideUp 300ms 0ms ease-in-out 1 forwards;
}

@-webkit-keyframes slideUp {
  0% {
    padding-bottom: 160px;
    overflow: hidden;
  }
  50% {
    padding-bottom: 100px;
    overflow: hidden;
  }
  99% {
    padding-bottom: 20px;
  }
}

@keyframes slideUp {
  0% {
    padding-bottom: 160px;
    overflow: hidden;
  }
  50% {
    padding-bottom: 100px;
    overflow: hidden;
  }
  99% {
    padding-bottom: 20px;
  }
}
.fadeIn {
  -webkit-animation: fadeIn 1000ms 0ms ease-in 1 forwards;
          animation: fadeIn 1000ms 0ms ease-in 1 forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.1;
    overflow: hidden;
  }
  30% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    overflow: hidden;
  }
  99% {
    opacity: 0.9;
    overflow: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    overflow: hidden;
  }
  30% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    overflow: hidden;
  }
  99% {
    opacity: 0.9;
    overflow: hidden;
  }
}
.fadeOut {
  -webkit-animation: fadeOut 1000ms 0ms ease-in 1 forwards;
          animation: fadeOut 1000ms 0ms ease-in 1 forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    opacity: 0.9;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    opacity: 0.9;
  }
}
.cardDivers {
  transition: 600ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 566px;
}/*# sourceMappingURL=cards.css.map */