.loading-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
  background-image: url(/src/assets/images/Homepage/featured.jpg);
  background-size: cover;
  background-position: center;
}
.logoImg {
  width: 100vh;
  width: 600px;
}
.loadingH1 {
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  position: absolute;
  top: 34%;
  left: 50%;
  translate: -50% -50%;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// body{
//   width:100%;
//   height:100vh;
//   display:flex;
//   flex-direction:column;
//   justify-content:center;
//   align-items:center;
//   background-color:#000;
// }
.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: #aaa;
  border-radius: 20px;
  overflow: hidden;
}
.loader {
  width: 60%;
  height: 100%;
  background-color: #de4b4b;
  display: block;
  animation: animate ease-out 1s infinite;
}

// .loading{
//   margin:8px auto;
//   width:80px;
//   text-align:center;
//   font-size:16px;
//   font-weight:700;
//   color:#aaa;
// }

@keyframes animate {
  0% {
    transform: translatex(-50%);
  }
  50% {
    transform: translatex(100%);
  }
  100% {
    transform: translatex(-50%);
  }
}
